.project {
    padding: 2em;
    width: 360px;
    min-height: max-content;
    text-align: center;
    box-shadow: var(--shadow);
    transition: transform 0.2s linear;
}

.project:hover {
    filter: contrast(105%);
    box-shadow: var(--project-gradient) 0px 13px 27px -5px, var(--project-gradient-alt) 0px 8px 16px -8px;
}

@media (max-width:360px) {
    .project {
        width: 100%;
    }
}

.project__description {
    margin-top: 1em;
    margin-bottom: 1em;
}