.project {
    padding: 2em;
    width: 40%;
    min-height: max-content;
    text-align: center;
    box-shadow: var(--shadow);
    transition: transform 0.2s linear;
}

@media (max-width:360px) {
    .project {
        width: 100%;
    }
}

.project__description {
    margin-top: 1em;
}