.weather-container {
    width: 100%;
    height: auto;
    border-radius: 0.5em;
    padding: 2em 1em;
    background: linear-gradient(180deg, #2b1d7a 0%, #4e4a69 100%);
}

.top-bar {
    display: flex;
    justify-content: center;
    gap: 4px;
}

.top-bar input {
    width: 70%;
    height: 3em;
    background: #ebfffc;
    outline: none;
    border: none;
    border-radius: 1em;
    padding-left: 1em;
    color: #000000;
    font-size: 1em;
    font-weight: 700;
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: auto;
    background: #ebfffc;
    border-radius: 10px;
    color: #000000;
    transition: all 0.4s;
    cursor: pointer;
}

.search-icon:hover {
    background: #073f54;
    color: white;
}


.weather-image {
    display: flex;
    justify-content: center;
}

.weather-image img {
    padding-top: 1em;
    width: 30%;
}

.weather-temp {
    font-size: 2.5em;
    text-align: center;
    color: white;
}

.weather-location {
    text-align: center;
    color: white;
    font-size: 1.5em;
    font-weight: 400;
}

.data-weather {
    padding-top: 1em;
    color: white;
    display: flex;
    justify-content: center;
}

.response-error {
    margin-top: 1em;
    text-align: center;
    color: white;
    font-size: 1.1em;
    font-weight: 400;
}

.element {
    margin: auto;
    display: flex;
    align-items: flex-start;
    gap: 0.8em;
}

.data {
    font-size: 1.2em;
    font-weight: 400;
}

.text {
    font-size: 0.8em;
    font-weight: 400;
}

.icon {
    padding-top: 0.5em;
}


.lds-ellipsis,
.lds-ellipsis div {
    box-sizing: border-box;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 40px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33.33333px;
    width: 13.33333px;
    height: 13.33333px;
    border-radius: 50%;
    background: currentColor;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}